{{#section 'title'}}
About
{{/section}}
<div class="card">
  <div class="card-header progress-bar progress-bar-striped text-white">
   <b>ABOUT</b>
  </div>
  <div class="card-body font-weight-bold">
   Đồng hồ ngày nay đã trở thành một phụ kiện, một vật dụng không thể thiếu của cánh nam giới và cả nữ giới. Việc đeo đồng hồ không chỉ giúp quản lý thời gian mà còn thể hiện phong cách, cá tính cũng như đẳng cấp của người đeo đồng hồ. Giá trị của đồng hồ ngày nay đã không còn nhỏ.Các sản phẩm sẽ được thể hiện hết những chi tiết nổi bật. Một trang web về đồng hồ SAIGON WATCH sẽ giúp anh chị lựa chọn 1 chiếc đồng hồ xứng tầm với giá trị bản thân mỗi người.
  <br>
  <a class="btn btn-success" href="/" role="button" title="Home">
    <i class="fa fa-backward" aria-hidden="true"></i>
    </a>
  </div>
  <div class="card-footer text-muted">
    TTCNTT FOUR T
  </div>
</div>