{{#section 'title'}}
Our Team
{{/section}}
<div class="card">
  <div class="card-header progress-bar progress-bar-striped text-white">
   <b>Our Team</b>
  </div>
  <div class="card-body font-weight-bold">
    Cửa hàng có những chuyên viên tư vấn tư vấn cho anh chị lựa chọn đồng hồ phù hợp với cá tính và sở thích của anh chị, hỗ trợ mua sản phẩm
    <br>
    <a class="btn btn-success" href="/" role="button" title="Home">
    <i class="fa fa-backward" aria-hidden="true"></i>
    </a>
  </div>
  <div class="card-footer text-muted">
    TTCNTT FOUR T
  </div>
</div>