{{#section 'title'}}
Portfolio
{{/section}}
<div class="card">
  <div class="card-header progress-bar progress-bar-striped text-white">
   <b>Portfolio</b>
  </div>
  <div class="card-body font-weight-bold">
    Cửa hàng sẽ đầu tư những hạng mục nhằm phục vụ nhu cầu mua đồng hồ của anh chị <br>
  <a class="btn btn-success" href="/" role="button" title="Home">
    <i class="fa fa-backward" aria-hidden="true"></i>
    </a>
  </div>
  <div class="card-footer text-muted">
    TTCNTT FOUR T
  </div>
</div>