<div class="card border-success mb-3">
  <div class="card-header bg-primary border-success text-white" ><b>Receipt Detail</b></div>
  <div class="card-body text-success">
   <form action="" method="post" class="row g-3">
      <div class="col-6">
        <label for="yourName" class="form-label">Your name</label>
        <input type="text" class="form-control" id="yourName" autofocus>
      </div>
      <div class="col-6">
        <label for="yourPhone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="yourPhone">
      </div><br>
      <div class="invoiceDetail col-12"></div>
      <button type="submit" class="btn btn-primary">
         <i class="fa fa-check" aria-hidden="true">Confirm</i>
      </button>   
   </form>
  </div>
  <div class="card-footer border-success">
   footer
  </div>
</div>
<script src="../../public/js/receiptdetails.js"></script>